<div class="row static-page-wrapper feedback-wrapper">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    <div>
      <h1>{{ 'Feedback.Title' | translate }}</h1>
    </div>

    <div class="feedback-content">
      <p>{{ 'Feedback.Content_Para1' | translate }}</p>

      <p>{{ 'Feedback.Content_Para2' | translate }}</p>

      <p [innerHtml]="'Feedback.Content_Para3' | translate"></p>

      <p [innerHtml]="'Feedback.Content_Para4' | translate"></p>
    </div>

    <div class="feedback-form">

    </div>
  </div>
</div>