.header-wrapper {
  padding: 30px;
  background-color: #010D62;
  color: white;
  transition: top 0.1s ease-in-out;

  @media (max-width: 767px) {
    padding: 10px;
  }

  @media print {
    padding: 0 !important;
  }

  &.scroll-down {
    @media (max-width: 767px) {
      position: relative;
      top: -60px;
    }
  }

  &.scroll-up {
    @media (max-width: 767px) {
      top: 0;
    }
  }

  .search-icon {
    text-align: right;
  }

  .top-menu {
    @media print {
      display: none;
    }
  }

  .title {
    margin-top: 90px;
    margin-bottom: 40px;
    font-size: 4.5rem;
    text-align: center;
    outline: none;
    cursor: pointer;

    @media (max-width: 991px) {
      font-size: 4rem;
      margin-top: 90px;
      margin-bottom: 40px;
    }

    @media (max-width: 767px) {
      font-size: 2.75rem;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    a {
      color: white;
      text-decoration: none;

      @media print {
        font-size: 3rem;
        color: #010D62 !important;
      }
    }
  }

  .search {
    margin-bottom: 26px;
    margin-top: 40px;

    @media (max-width: 767px) {
      margin-bottom: 20px;
      margin-top: 20px;
    }

    @media print {
      display: none;
    }
  }

  .see-more {
    @media print {
      display: none !important;
    }

    @media (max-width: 767px) {
      z-index: 1000;
      padding-left: 5px;
    }
  }

  &.light-header {

    @media (max-width: 991px) {
      padding: 15px;
    }

    @media (max-width: 767px) {
      margin-top: 0;
      margin-bottom: 0;
    }

    > div {
      margin-bottom: 10px;

      @media (max-width: 767px) {
        margin-bottom: 10px;
      }
    }

    .title {
      margin: 0;
      font-size: 2.5rem;
      text-align: left;
      padding: 0;
      z-index: 1000;
      outline: none;

      @media (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 767px) {
        font-size: 1.5em;
        margin-bottom: 10px;
      }
    }

    .search-toggle {
      @media print {
        display: none !important;
      }

      @media (max-width: 991px) {
        position: absolute;
        top: 8px;
        right: 10px;
        z-index: 1000;
      }

      @media (max-width: 767px) {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1000;
      }

      .search-activated {
        text-align: right;
      }
    }

    .search {
      margin: 0;

      @media (max-width: 991px) {
        //margin-bottom: 20px;
        // margin-top: 20px;
      }

      @media (max-width: 767px) {
        //margin-bottom: 20px;
        //margin-top: 20px;
      }
    }
  }

}
