.header-wrapper {
  padding: 20px;
  background-color: darkblue;
  color: white;

  > div {
    margin-bottom: 15px;
  }

  .title {
    margin-top: 40px;
    margin-bottom: 40px;
    // margin: 40px 3%;
    font-weight: bolder;
    font-size: 4em;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 3em;
      margin: 40px auto;
    }
  }

  .search-bar {
    margin: 0 auto 40px;
    width: 50%;
    text-align: center;

    //.input-group-lg > .input-group-addon {
    //  height: 47px !important;
    //}

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}