<div #headerWrapper class="header-wrapper row">
  <div [ngClass]="skinnyHeader ? 'col-sm-4' : 'col-sm-12'"
       class="pull-right hidden-xs">
    <app-top-menu></app-top-menu>
  </div>

  <div *ngIf="!isMobileNavVisible" class="visible-xs-block see-more"
       [ngClass]="skinnyHeader ? 'col-xs-3' : ''" (click)="toggleMobileNav()">
    <i [ngClass]="!skinnyHeader ? 'fa-2x': ''" class="fa fa-ellipsis-h" aria-hidden="true"></i>
  </div>

  <div [ngClass]="skinnyHeader ? 'col-sm-4 col-xs-6' : 'col-sm-12'" class="title">
    <a routerLink="/">CanadianDrugs.ca</a>
  </div>

  <div *ngIf="!hideSearch" [ngClass]="skinnyHeader ? 'col-sm-4' : 'col-sm-12'">
    <app-search [skinnyHeader]="skinnyHeader"></app-search>
  </div>
</div>