<div class="footer-wrapper">
  <div class="row">
    <div class="col-sm-3 pull-right">
      <div class="footer-logo pull-right">
        <img class="img-responsive" src="../../assets/cpha-logo-footer.png">
      </div>
    </div>

    <div class="col-sm-9">
      <div class="footer-menu">
        <ul class="nav nav-pills">
          <li>About Us</li>
          <li>Contact Us</li>
          <li>Errata</li>
          <li>Feedback</li>
          <li>Policies and Permissions</li>
          <li>Privacy Policy</li>
        </ul>
      </div>

      <div class="copyright">
        © Canadian Pharmacists Association, 2017. All rights reserved.
      </div>
    </div>
  </div>
</div>
