.footer-wrapper {
  color: gray;
  background-color: lightgray;
  padding: 15px;
  font-size: 12px;
  border-top: 1px solid gray;

  .footer-menu {
    margin-bottom: 5px;

    ul {
      li {
        border-right: 1px solid gray;
        padding: 0 15px;

        @media (max-width: 768px) {
          padding: 0 10px 0 5px;
        }
      }

      li:first-child {
        padding: 0 15px 0 0;

        @media (max-width: 768px) {
          padding: 0 10px 0 5px;
        }
      }

      li:last-child {
        border: none;
      }
    }
  }

  .footer-logo {
    // padding-left: 15px;
    @media (max-width: 768px) {
      float: none !important;
    }

    > div {
      @media (max-width: 768px) {
        float: none !important;
        margin-bottom: 15px;
      }
    }
  }

  .footer-content {
    > div {
      @media (max-width: 768px) {
        margin-bottom: 15px;
      }
    }
  }
}