<div class="footer-wrapper">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-sm-push-9 footer-logo">
      <div class="pull-right">
        <img class="img-responsive" src="../../assets/cpha-logo-footer.png">
      </div>
    </div>

    <div class="col-xs-12 col-sm-9 col-sm-pull-3 footer-content">
      <div class="footer-menu">
        <ul class="nav nav-pills">
          <li>About Us</li>
          <li>Contact Us</li>
          <li>Errata</li>
          <li>Feedback</li>
          <li>Policies and Permissions</li>
          <li>Privacy Policy</li>
        </ul>
      </div>

      <div class="copyright">
        © Canadian Pharmacists Association, 2017. All rights reserved.
      </div>
    </div>
  </div>
</div>
