.nav-bar-wrapper {
  background-color: darkblue;
  color: white;
  font-size: 0.9em;

  .cpa-logo {
    background-color: #D8D8D8;
    padding: 20px;
  }

  .nav-links {
    padding: 15px;

    .other-links {
      padding-top: 10px;
    }

    .social-networks {
      padding-top: 10px;

      ul li {
        text-align: center;
        display: inline-block;
      }
    }

    > div {
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #D8D8D8;

      &:last-child {
        border-bottom: none;
      }
    }

    .nav {
      li {
        cursor: pointer;

        a {
          color: white;
        }
      }
    }
  }

  .copyright {
    padding: 15px;
    text-align: center;
    color: #C0C0C0;
  }

  .nav {
    li {

    }
  }

}