<div class="nav-bar-wrapper">
  <div class="cpa-logo">
    <img class="img-responsive" src="../../assets/cpha-logo-footer.png">
  </div>

  <div class="nav-links">
    <div class="app-links">
      <ul class="nav nav-stacked">
        <li routerLink="/">
          <a>Home</a>
        </li>
        <li>
          <a>Help</a>
        </li>
        <li>
          <a (click)="changeLang()">{{languageChangeText}}</a>
        </li>
      </ul>
    </div>

    <hr>

    <div class="other-links">
      <ul class="nav nav-stacked">
        <li>
          <a [routerLink]="['/about']">About the Canadian Pharmacists Association</a>
        </li>
        <li>
          <a [routerLink]="['/contact']">Contact Us</a>
        </li>
        <li>
          <a [routerLink]="['/policies-permissions']">Policies and Permissions</a>
        </li>
        <li>
          <a [routerLink]="['/privacy']">Privacy Policy</a>
        </li>
      </ul>
    </div>

    <hr>

    <div class="copyright">
    <span>
      © Canadian Pharmacists Association, 2017. All rights reserved.
    </span>
    </div>
  </div>
</div>