<div class="nav-bar-wrapper">
  <div class="cpa-logo">
    <img class="img-responsive" src="../../assets/cpha-logo-footer.png">
  </div>

  <div class="nav-links">
    <div class="app-links">
      <ul class="nav nav-stacked">
        <li routerLink="/">
          <a>Home</a>
        </li>
        <li>
          <a>Help</a>
        </li>
        <li>
          <a (click)="changeLang()">{{languageChangeText}}</a>
        </li>
      </ul>
    </div>

    <div class="other-links">
      <ul class="nav nav-stacked">
        <li>
          <a>About the Canadian Pharmacists Association</a>
        </li>
        <li>
          <a>Contact Us</a>
        </li>
        <li>
          <a>Errata</a>
        </li>
        <li>
          <a>Feedback</a>
        </li>
        <li>
          <a>Policies and Permissions</a>
        </li>
        <li>
          <a>Privacy Policy</a>
        </li>
      </ul>
    </div>

    <div class="social-networks">
      <ul class="nav nav-pills">
        <li>
          <a (click)="openInNewTab(facebook_url)">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a (click)="openInNewTab(twitter_url)">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="copyright">
    © Canadian Pharmacists Association, 2017. All rights reserved.
  </div>
</div>