<div class="about-wrapper row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    <div>
      <h1>{{ 'About.PageTitle' | translate }}</h1>
    </div>
    <div class="about-my-meds">
      <h3>{{ 'About.AboutMeds' | translate }}</h3>
      <div class="info">
        {{ 'About.MyMedsDescription' | translate }}
      </div>
    </div>

    <div class="about-info-for-patients">
      <h3>{{ 'About.AboutPatients' | translate }}</h3>
      <div class="info">
        <p>
          {{ 'About.AboutPatientDescription_para1' | translate }}
        </p>
        <p>
          {{ 'About.AboutPatientDescription_para2' | translate }}
        </p>
        <p>
          {{ 'About.AboutPatientDescription_para3' | translate }}
        </p>
    </div>

    <div class="about-cpha">
      <h3>{{ 'About.AboutCPHA' | translate }}</h3>
      <div class="info">
        {{ 'About.CPHADescription' | translate }}
      </div>
    </div>
  </div>
</div>