.about-wrapper {
  margin: 30px auto 50px;
  font-size: 1rem;
  line-height: 1.4em;

  h1 {
    font-size: 1.714rem;
    font-weight: bold;
  }

  h3 {
    font-size: 1.298rem;
    font-weight: bold;
    padding-top: 5px;
  }

}
