<div class="row detail-wrapper">
  <!--<div class="col-sm-12" [innerHtml]="info">-->
  <!--</div>-->
  <div class="col-md-2 hidden-xs table-contents">
    <ul>
      <li class="title">
        TABLE OF CONTENTS
      </li>

      <li class="list-content" *ngFor="let drugContents of info.contents">
        <button class="btn-link" (click)="anchorNavigation(drugContents.anchorId)">{{drugContents.text}}</button>
      </li>
    </ul>
  </div>

  <div class="col-md-10 drug-content">
    <div class="overview">
      <div class="title">
        <span>{{info.brandName}}</span>
      </div>

      <div class="contents-action visible-xs">
        <button>
          <i class="fa fa-bars" aria-hidden="true"></i>
          <span>Contents</span>
        </button>
      </div>

      <div class="action-list">
        <button>
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>

        <button class="hidden-xs">
          <i class="fa fa-print" aria-hidden="true"></i>
        </button>
      </div>

      <div class="revision">
        {{ info.revisionDate }}
      </div>
    </div>

    <div class="info">
      <div *ngFor="let drugContents of info.contents" [innerHtml]="drugContents.htmlElement | safeHtml">
      </div>
    </div>
  </div>
</div>
