.detail-wrapper {
  padding: 15px;

  @media (max-width: 767px) {
    padding: 10px;
  }

  @media print {
    padding: 0 !important;
  }

  .content {
    padding-top: 5px;
    padding-left: 30px;

    @media (max-width: 767px) {
      padding: 0;
    }

    .drug-overview {
      padding: 0;
      border-bottom: 2px solid #CCCCCC;

      @media print {
        border-bottom: none !important;
        width: 100% !important;
        margin-top: 20px !important;
      }

      .drug-title {
        @media print {
          width: 100% !important;
          font-weight: bold;
        }
      }

      &.scroll-down {
        @media (max-width: 767px) {
          top: 0;
          position: fixed;
          z-index: 1030;
          width: 94%;
          background: #fff;
        }
      }

      &.scroll-up {
        @media (max-width: 767px) {
          // top: 110px;
        }
      }

      > div {
        @media (max-width: 767px) {
          margin-bottom: 10px;
        }
      }

      .drug-title {
        padding: 0;
        //margin-top: 20px;
        //margin-bottom: 10px;

        h1, h2 {
          font-weight: bold;
        }

        @media (max-width: 767px) {
        }

        h2 {
          margin: 0;

          @media (max-width: 767px) {
            margin-top: 0;
          }
        }
      }

      .toc-xs-initiator {
        margin-top: 20px;
        @media (max-width: 991px) {
          text-align: right;
          padding-right: 0;
        }

        @media (max-width: 767px) {
          padding: 0;
          text-align: left;
          margin-top: 0;
        }

        @media print {
          display: none !important;
        }

        button {
          background-color: #F5F5F5;
          border: 1px solid #CCCCCC !important;
        }
      }

      .action-list {
        //margin-bottom: 10px;
        margin-top: 20px;
        padding-bottom: 11px;
        padding-right: 0;
        text-align: right;color: #666666;

        @media (max-width: 991px) {
          padding-left: 0;
          padding-right: 0;
          // text-align: left;
        }

        @media (max-width: 767px) {
          margin-bottom: 0;
          margin-top:   0;
          padding: 0;
        }

        @media print {
          display: none !important;
        }
      }
    }
  }

  .revision-date {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 0.929rem;
    padding: 0;
    color: #666666;

    @media print {
      margin-top: 0 !important;
      margin-bottom: 20px !important;
      color: #999999 !important;
      font-size: 1.2rem;
    }

    span {
      @media print {
        color: #999999 !important;
        font-size: 1rem;
      }
    }
  }

  .drug-sub-category {

    @media print {
      border: 1px solid black;
      width: 65% !important;
      margin-left: 0;
    }

    > div {
      @media print {
        width: 100%!important;
      }
    }

    .category {
      background-color: #F5F5F5;
      padding: 25px;
      margin-bottom: 10px;

      @media print {
        padding: 10px;
      }

      > div {
        font-size: 0.929rem;
        line-height: 1.2em;
      }

      .title {
        font-size: 0.929rem;
        color: #666666;
      }


    }
  }

  .drug-info {
    padding: 0;

    @media (max-width: 767px) {
      margin-top: 5px;
    }

    /deep/ .dita-topic {

      font-family: Arial, Helvetica, sans-serif;
      font-size: 1rem;
      color: #000000;
      line-height: 1.4em;

      .contentImg {
        display: block;
        max-width: 100%;
        height: auto;
      }

      h3 {
        font-size: 1.286rem;
        padding-top: 5px;
      }

      h4 {
        font-size: 1.143rem;
        padding-top: 5px;
      }

      //.MatchedText {
      //  background-color: yellow;
      //
      //  @media print {
      //    color: inherit !important;
      //  }
      //}

      .removeHighlight {
        background-color: transparent;
      }

      .dita-li {
        padding-bottom: 5px;
      }

      .part-title {
        font-weight: bold;
        color: #0000BB !important;

        @media (max-width: 767px) {
          font-size: 20px;
        }
      }

      .maintitle {
        font-weight: bold;
      }

      .dita-table {

        thead {
          background-color: #A3BBF0;
          color: white;

          tr {
            @media print {
              border: 1px solid #CCCCCC;
            }

            th {
              text-align: center;
              border-right: 1px solid white;
              padding: 8px 5px;

              @media print {
                border: 1px solid #CCCCCC;
              }
            }
          }
        }

        tbody {
          tr {
            border: 2px solid #CCCCCC;

            @media print {
              border: 1px solid #CCCCCC;
            }

            td {
              padding: 8px 5px;
              border-right: 1px solid #CCCCCC;
              background-color: #F5F5F5;
            }
          }
        }
      }

      .dita-note {
        border: 2px solid black;
        padding: 10px;

        .warningtitle {
          font-weight: bold;
        }
      }
    }
  }

  .table-contents {
    background-color: #F5F5F5;
    min-height: 100vh;
    padding: 25px 15px;
    font-size: 0.929rem;

    @media (max-width: 767px) {
      padding: 13px 13px 23px 13px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        padding: 7px;
        // border-top: 1px solid #CCCCCC;

        .nested-menu {

          &.collapsed {
            display: none;
          }

          li {
            padding: 3px;

            .btn-link {
              color: #666666;
            }
          }
        }

        .fa {
          color: #0000BB;

          &.fa-arrow-right {
            color: #666666;
          }
        }

        &.title {
          color: #666666;
          font-weight: 700;
        }

        &.list-content {
          border-top: 1px solid #CCCCCC;
          //padding-left: 0;
          //padding-right: 0;
          button {

          }
        }

        .btn-link {
          padding: 0;
          color: #0000BB;
          text-align: left;
          text-decoration: none;
        }

      }
    }

    &.xs-table-contents {
      @media (max-width: 991px) {
        position: absolute;
        top: 189px;
        left: 45px;
        z-index: 1;
        min-width: 90.5%;
        border: 1px solid #CCCCCC;
      }

      @media (max-width: 767px) {
        position: absolute;
        top: 211px;
        left: 10px;
        z-index: 1;
        min-width: 96%;
        border: 1px solid #CCCCCC;
        padding: 0;
      }

      ul {
        li {
          &.list-content {
            border-top: none;
          }

          .btn-link {
            padding: 0;
            color: blue;
            text-align: left;
            text-decoration: none;
          }
        }
      }
    }
  }

}