<div *ngIf="drug" class="row detail-wrapper">

  <div class="col-md-2 hidden-xs table-contents">
    <div>
      <ul>
        <li class="hidden-xs title">
          TABLE OF CONTENTS
        </li>
        <li class="list-content" *ngFor="let drugContent of drug.topLevelDrugContents">
          <button class="btn-link" (click)="anchorNavigation(drugContent.anchorIdReference)">{{drugContent.header}}</button>
        </li>
        <!--<ul ngIf="drug.subCategoryDrug" *ngFor="let subCategory of drug.subCategoryDrug['contents']">-->
          <!--<li>-->
            <!--<button class="btn-link" (click)="anchorNavigation(subCategory['anchorIdReference'])">-->
              <!--{{subCategory['header']}}</button>-->
          <!--</li>-->
        <!--</ul>-->
      </ul>
    </div>
  </div>
  <div class="col-md-10 content">
    <div class="col-xs-12 drug-overview">
      <div class="col-xs-12 col-sm-4 drug-title">
        <!--<h1>{{info.brandName}}</h1>-->
      </div>

      <div class="visible-xs col-xs-4 toc-xs-initiator">
        <button (click)="toggleTableOfContents()">
          <i class="fa fa-bars" aria-hidden="true"></i>
          <span>Contents</span>
        </button>
      </div>

      <div class="col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4 action-list">
        <button>
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>

        <button class="hidden-xs">
          <i class="fa fa-print" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <div class="col-xs-12 revision-date">
      <span>{{drug.revisionDate}}</span>
    </div>

    <div class="drug-sub-category row" *ngIf="drug.drugInfo.length > 1">
      <div *ngFor="let drugRecord of drug.drugInfo" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="category">
          <div class="title">
            {{ drugRecord.brandName }}
          </div>
          <div>
            {{ drugRecord.genericName }}
          </div>
          <div>
            {{ drugRecord.therapeuticClass }}
          </div>
          <div>
            {{ drugRecord.manufacturers }}
          </div>
        </div>
        </div>
    </div>

    <div class="col-xs-12 drug-info">
      <div *ngFor="let drugContents of drug.topLevelDrugContents" [innerHtml]="drugContents.htmlElement | safeHtml">
      </div>

      <div *ngFor="let drugContents of drug.subCategoryDrug['contents']" [innerHtml]="drugContents['htmlElement'] | safeHtml">
      </div>
    </div>

  </div>
</div>