.detail-wrapper {

  .drug-content {
    padding: 35px;

    @media (max-width: 768px) {
      padding: 10px;
      // margin: 20px 5px;
    }

    .overview {
      border-bottom: 1px solid #808080;
      padding: 5px 0;

      @media (max-width: 768px) {
        //position: fixed;
        //min-height: 150px;
      }

      .title {
        display: inline-block;
        font-weight: bolder;
        font-size: 1.5em;

        @media (max-width: 768px) {
          display: block;
          margin: 15px 0;
        }
      }

      .contents-action {

        @media (max-width: 768px) {
          display: inline-block !important;
        }
      }

      .action-list {
        float: right;
        color: #C0C0C0;
      }
    }

    .revision {
      margin: 10px 0;
    }
  }

  .table-contents {
    background-color: #D8D8D8;
    min-height: 100vh;
    padding: 10px;
    font-size: 0.9em;

    ul {
      list-style: none;
      padding: 0;

      li {
        padding: 7px;

        &.title {
          color: #808080;
          font-weight: 700;
        }

        &.list-content {
          border-bottom: 1px solid #808080;

          button {

          }
        }

        .btn-link {
          color: black;
          text-align: left;
          text-decoration: none;
        }

      }
    }
  }

}