<div class="contact-wrapper static-page-wrapper row">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    <div>
      <h1>{{ 'Contact.PageTitle' | translate }}</h1>
    </div>

    <div class="contact-description">
      {{ 'Contact.ContactDescription' | translate }}
    </div>

    <div class="contact-method" [innerHtml]="'Contact.ContactMethod' | translate">
    </div>

    <div class="contact-info" [innerHtml]="'Contact.ContactInfo' | translate">
    </div>

    <div class="mailing-address" [innerHtml]=" 'Contact.MailingAddress' | translate">
    </div>

  </div>
</div>