.menu-wrapper {
  text-align: right;

  @media (max-width: 991px) {
    text-align: left;
  }

  > div > div {
    display: inline-block;
  }

  ul {
    list-style-type: none;

    li {
      float: left;
      padding: 0 10px;
      cursor: pointer;
    }
  }

  .list-items {
    ul {
      li {
        border-right: 1px solid white;
        padding: 0 16px 0 16px;

        &:last-child {
          border: none;
        }
      }
    }
  }

  .social-networks {
    margin-right: 20px;
  }
}