.menu-wrapper {
  .row {
    // margin: 10px 5px;
  }

  ul {
    list-style-type: none;

    li {
      float: left;
      padding: 0 10px;
    }
  }

  .list-items {
    ul {
      li {
        border-right: 1px solid white;
        padding: 0 15px;
      }

      li:last-child {
        border: none;
      }
    }
  }

  .social-networks {
    margin-right: 20px;
  }
}