<div class="menu-wrapper">
  <div class="row">
    <div class="pull-right list-items">
      <ul class="nav nav-pills">
        <li routerLink="/">
          Home
        </li>
        <li>Help</li>
        <li (click)="changeLang()">{{languageChangeText}}</li>
      </ul>
    </div>

    <div class="pull-right social-networks">
      <ul class="nav nav-pills">
        <li (click)="openInNewTab(facebook_url)">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </li>
        <li (click)="openInNewTab(twitter_url)">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </li>
      </ul>
    </div>
  </div>
</div>
