.list-wrapper {
  // padding: 15px;

  margin: 20px auto;

  .results-info {
    padding: 5px;
    border-bottom: 1px solid #D8D8D8;

    > div {
      display: inline-block;
    }

    .count {
      margin-right: 5px;

      span {
        font-weight: bold;
        border-right: 1px solid #D8D8D8;
        display: inline-block;
        padding-right: 10px;

        @media (max-width: 768px) {
          border-right: none;
          // padding-right: 0;
        }
      }
    }

    .sort {
      @media (max-width: 768px) {

      }

      select {
        padding: 5px;
        border-radius: 5px;
      }
    }

    .action-list {
      float: right;
      color: #C0C0C0;

      button {
        padding: 5px 10px;
        border-radius: 10px;
        border: 1px solid #D8D8D8;
        background: white;
        outline: none;
      }
    }
  }

  .list-content {
    margin: 30px 0;

    > div {
      margin-bottom: 20px;
    }

    .title {
      margin-bottom: 10px;
      font-size: 1.2em;
    }

    .sub-title {
    }

    .additional-info {
      margin-top: 10px;
      padding: 0;

      .row {
      }
    }
  }
}