.list-wrapper {
  margin: 20px auto;
  
  @media (max-width: 991px) {
    margin: 0;
    padding: 0;
  }

  .results-info {
    padding: 5px;
    border-bottom: 1px solid #D8D8D8;

    > div {
      display: inline-block;
    }

    .count {
      margin-right: 5px;

      span {
        font-weight: bold;
        border-right: 1px solid #D8D8D8;
        display: inline-block;
        padding-right: 10px;

        @media (max-width: 767px) {
          border-right: none;
          // padding-right: 0;
        }
      }
    }

    .sort {
      @media (max-width: 767px) {

      }

      select {
        padding: 5px;
        border-radius: 5px;
      }
    }

    .action-list {
      float: right;
      color: #C0C0C0;

      //button {
      //  padding: 4px 10px;
      //  border-radius: 10px;
      //  border: 1px solid #D8D8D8;
      //  background: white;
      //  outline: none;
      //}
    }
  }

  .list-content {
    margin: 10px 0;

    /deep/ .collapsed {
      .panel {
        padding: 10px 0 !important;
      }
    }

    /deep/ .panel-group {
      margin-bottom: 0 !important;
    }

    /deep/ .panel-open {
      padding: 20px 0;
    }

    /deep/ .panel {
      border: none;
      box-shadow: none;

      &:hover {
        background-color: #F5F5F5 !important;
      }

      .panel-heading {
        background-color: transparent;
        margin-bottom: 10px;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0 10px;

        &:hover {
          background-color: #F5F5F5 !important;
        }

        a {
          &:hover {
            color: #0000BB;
          }
        }
      }

      .panel-body {
        border-top: none;
        padding: 0 10px;

        .MatchedText {
          background-color: yellow;
        }

        .removeHighlight {
          background-color: transparent;
        }

        .additional-info {
          margin-top: 10px;
          padding: 0;

          > div {
            margin-bottom: 2px;
          }

          .fragment {
            a {
              cursor: pointer;

              &:hover {
                color: #0000BB;
              }
            }
          }
        }
      }
    }

    //> div {
    //  margin-bottom: 20px;
    //}
    //
    //.title {
    //  margin-bottom: 10px;
    //  font-size: 1.5rem;
    //  font-weight: bold;
    //}
    //
    //.sub-title {
    //}
    //
  }

  .paginator {
    text-align: center;
  }

  /deep/ .pagination {
    border-radius: 3px;

    .pagination-page a {
      border: 1px solid #CCCCCC;
      border-radius: 3px;
      color: #0000BB;
    }

    .pagination-page.active a {
      background-color: #010d62;
      color: white;
    }
  }

  .result-not-found {

    @media (max-width: 991px) {
      margin-top: 20px;
    }
  }
}