<div class="list-wrapper row">
  <div *ngIf="queryListData" class="col-md-offset-2 col-md-8 col-sm-12">
    <form [formGroup]="queryListForm">
      <div class="results-info">
          <div class="count">
          <span>
            {{queryListData && queryListData.totalCount ? queryListData.totalCount : 'No '}} results
          </span>
          </div>

          <div class="sort">
          <span class="hidden-xs">
            Sort by: &nbsp;
          </span>
            <select formControlName="sortBy">
              <option value="RELEVANCE">Relevance</option>
              <option value="ALPHABETICAL">Alphabetical</option>
            </select>
          </div>

          <div class="action-list">
            <button (click)="toggleCollapse()">
              <i class="fa" [ngClass]="isCollapsed ? 'fa-plus' : 'fa-minus-square-o'" aria-hidden="true"></i>
              <span class="hidden-xs">{{ isCollapsed ? 'Expand All' : 'Collapse All' }}</span>
            </button>

            <button (click)="toggleHighlight()">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>

            <button class="hidden-xs hidden-sm">
              <i class="fa fa-print" aria-hidden="true"></i>
            </button>
          </div>
      </div>
    </form>

    <div class="list-content">
      <accordion *ngFor="let query of queryListData.results">
        <accordion-group [isOpen]="!isCollapsed" [ngClass]="isCollapsed ? 'collapsed' : ''">
          <div accordion-heading>
            <a (click)="navigateToDetails(query.locator)">{{ query.documentTitle }}</a>
          </div>

          <div class="sub-title" [innerHtml]="query.documentChunk"></div>

          <div *ngIf="query.otherSections" class="additional-info row auto-clear">
            <div *ngFor="let sections of query.otherSections" class="col-lg-4 col-sm-4 col-md-4 col-xs-12 fragment">
              <a (click)="navigateToDetails(sections.locator)">{{sections.title}}</a>
            </div>
          </div>
        </accordion-group>
      </accordion>
    </div>

    <div class="paginator">
      <pagination [boundaryLinks]="true" [totalItems]="queryListData.totalCount" maxSize="10"
                  firstText="&laquo;" lastText="&raquo;" itemsPerPage="25" [directionLinks]="false"
                  (pageChanged)="pageChanged($event)"></pagination>
    </div>

  </div>
</div>
