<!--The whole content below can be removed with the new code.-->
<div class="container-fluid no-padding">
  <div class="mobile-nav" *ngIf="mobileSidebarVisiblity">
    <app-mobile-sidebar-nav (menuClickEvent)="mobileMenuClickEvent($event)"></app-mobile-sidebar-nav>
  </div>

  <div>
    <div (click)="toggleMobileSidebarVisiblity(false)" *ngIf="mobileSidebarVisiblity" class="close-nav">
      <i class="fa fa-4x fa-times" aria-hidden="true"></i>
    </div>

    <div [ngClass]="mobileSidebarVisiblity ? 'with-sidebar' : ''">
      <app-header [isMobileNavVisible]="mobileSidebarVisiblity"
                  (mobileSidebarVisibility)="toggleMobileSidebarVisiblity($event)"></app-header>

      <div (click)="routerOutlerClick()">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<div [ngClass]="mobileSidebarVisiblity ? 'with-sidebar' : ''">
  <app-footer></app-footer>
</div>