html {
  font-size: 14px;

  @media (max-width: 767px) {
    font-size: 12px;
  }
}

body {
  text-align: left;
  //overflow-x: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #000000;
}

a {
  color: #0000BB;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: 1.714rem;
}

h2 {
  font-size: 1.571rem;
}

h3 {
  font-size: 1.286rem;
}

h4 {
  font-size: 1.143rem;
}

.mobile-nav {
  position: fixed;
  width: 60%;
  left: 0;
  top: 0;
  z-index: 1000;
  height: 100%;
  overflow-y: scroll;
  box-shadow: 0px 3px 4px 0px #999999;
}

.close-nav {
  position: absolute;
  left: 65%;
  top: 3%;
  z-index: 1;
}

.with-sidebar {
  margin-left: 60%;
  opacity: 0.5;
  overflow: hidden;

  &::-webkit-scrollbar {
    // display: none;
  }
}

button {
  padding: 4px 10px;
  border-radius: 6px;
  border: 1px solid #D8D8D8;
  background: white;
  outline: none;
}

.static-page-wrapper {
  margin: 30px auto 50px;
  font-size: 1rem;
  line-height: 1.4em;

  h1 {
    font-size: 1.714rem;
    font-weight: bold;
  }

  h3 {
    font-size: 1.298rem;
    font-weight: bold;
    padding-top: 5px;
  }

}


/**

 */
@media (min-width:1200px){
  .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-lg-6:nth-child(odd){clear:left;}
}
@media (min-width:992px) and (max-width:1199px){
  .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-md-6:nth-child(odd){clear:left;}
}
@media (min-width:768px) and (max-width:991px){
  .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-sm-6:nth-child(odd){clear:left;}
}
@media (max-width:767px){
  .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-xs-6:nth-child(odd){clear:left;}
}

@media print {
  @page { margin: 0; size: auto; }
  body { margin: 1cm; }
}