<div class="row static-page-wrapper privacy-wrapper">
  <div class="col-md-offset-1 col-md-10 col-sm-12">
    <div>
      <h1>{{ 'Privacy.PageTitle' | translate }}</h1>
    </div>

    <div class="privacy-policy">
      <p>
        {{ 'Privacy.terms' | translate }}
      </p>

      <p>
        {{ 'Privacy.collectInfo' | translate }}
      </p>

      <p>
        {{ 'Privacy.logFiles' | translate }}
      </p>

      <ul>
        <li>{{ 'Privacy.IP' | translate }}</li>
        <li>{{ 'Privacy.DateTime' | translate }}</li>
        <li>{{ 'Privacy.PageViewed' | translate }}</li>
        <li>{{ 'Privacy.Clicks' | translate }}</li>
        <li>{{ 'Privacy.Searches' | translate }}</li>
        <li>{{ 'Privacy.WebAddress' | translate }}</li>
        <li>{{ 'Privacy.BrowserInfo' | translate }}</li>
        <li>{{ 'Privacy.Geolocation' | translate }}</li>
        <li>{{ 'Privacy.QRcodes' | translate }}</li>
      </ul>

      <p>
        {{ 'Privacy.cookies' | translate }}
      </p>

      <p>
        {{ 'Privacy.soleOwner' | translate }}
      </p>

      <p>
        {{ 'Privacy.appliesTo' | translate }}
      </p>

    </div>
  </div>
</div>