.search-bar {
  margin: 0 auto 40px;
  width: 50%;
  text-align: center;

  &.skinny-search {
    margin: 0;
    width: 100%;
  }

  //.input-group-lg > .input-group-addon {
  //  height: 47px !important;
  //}

  @media (max-width: 768px) {
    width: 100%;
  }
}