<div class="search-wrapper row">
  <form [formGroup]="searchForm">
    <div [ngClass]="skinnyHeader ? 'input-group-md skinny-search' : 'input-group-lg'" class="search-bar input-group">
      <input type="text" class="form-control" placeholder="Search Medications" aria-describedby="lookup"
             formControlName="search" (keyup.enter)="search()"
             [typeahead]="mockData" [typeaheadOptionField]="'item'"
             [typeaheadGroupField]="'suggestion'"
             (typeaheadOnSelect)="onSelect($event)"
             autofocus>

      <span (click)="search()" class="input-group-addon" id="lookup">
          <i class="fa fa-search" aria-hidden="true"></i>
      </span>
    </div>
  </form>
</div>