.search-bar {
  margin: 0 auto 40px;
  width: 50%;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;

  input {
    border-radius: 5px;
    height: 50px;
    position: relative;
  }

  .fa-search {
    position: absolute;
    right: 30px;
    top: 15px;
    color: gray;
  }

  .clear-search {
    color: grey;
    position: absolute;
    font-size: 1.5em;
    top: 14px;
    right: 394px;

    @media (max-width: 768px) {
      top: 170px;
      right: 24px;
    }
  }

  &.skinny-search {
    margin: 0;
    width: 100%;

    input {
      height: 40px;
    }

    .clear-search {
      top: 10px;
      right: 25px;

      @media (max-width: 768px) {
        top: 49px;
        right: 20px;
      }
    }
  }

  /deep/ typeahead-container .dropdown-menu {
    margin: 0;
    border-radius: 0;
    box-shadow: none;

    @media (max-width: 768px) {
      max-width: 440px;
      margin: 0 5px;
      left: -17px;
      top: -2px;
      font-size: 12px;
    }
  }

  //.input-group-lg > .input-group-addon {
  //  height: 47px !important;
  //}

  @media (max-width: 768px) {
    width: 100%;
  }
}